{% extends 'base.html' %}
{% block title %} Edit profile page {% endblock %}
{% block content %}

<br>

{% if user.is_authenticated %}
    <h3 style="text-align: center; padding-top: 20px; font-weight: 400; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color: black;">Elevate Your Profile: Showcase the Best Version of You!</h3>
    <br>
    <br>
    <div class="form-group1">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-secondary">Save changes</button>
    </form>
    </div>
{% endif %}
{% endblock %}