{% extends 'base.html' %}
{% block title %} Edit profile {% endblock %}
{% block content %}

<br>

{% if user.is_authenticated %}
    <h3 style="text-align: center; padding-top: 20px; font-weight: 400; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color: black;">Edit profile</h3>
    <br>
    <br>
    <div class="form-group1">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <a href="{% url 'change_password' %}">change password</a>
        <br>
        <button class="btn btn-secondary" style="margin-top: 30px;">Save changes</button>
    </form>
    </div>
{% endif %}
{% endblock %}